.home-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-container > input {
  width: 300px;
  font-size: 18px;
  padding: 8px 12px;
}

.home-container > button {
  width: 330px;
  font-size: 18px;
  cursor: pointer;
}
